@charset "UTF-8";

article, aside, footer, main, header, nav, section {
    display: block;
}

article, aside, footer, main, header, nav, section,
html, body, h1, h2, h3, ul, li, a, p{
    padding: 0;
    margin: 0;
}

.banner{
    background-color: cornflowerblue;
    color: white;
    padding: 10px 10px;
    //margin-top: 1px;
}

body{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 18px;
}

nav{
    background-color: yellowgreen;
    padding: 10px;
    margin-top: 1px;
}

li a{
    color: white;
}

li{
    display: inline;
    margin: 0 15px;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}

section{
    background-color: darkgray;
    margin-top: 10px; 
    padding: 5px;
}

article{
    background-color: whitesmoke;
    margin-top: 5px;
    padding: 10px 15px;
}

main{
    width: 650px;
    float: left;
    margin-bottom: 10px;
}

aside{
    background-color: cadetblue;
    width: 260px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 20px;
    float: right;
}

footer{
    clear: both;
    background-color: mediumseagreen;
    color: aliceblue;
    padding: 10px 20px;
    //margin-bottom: 1px;
}
